<ion-header>
  <ion-toolbar>
    <ion-title>
      Mes tâches
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!--liste des tâches-->
    <ion-item *ngFor="let task of tasks">
      <ion-label>{{task.title}}</ion-label>
      <ion-checkbox [checked]="task.status" slot="start" color="danger"></ion-checkbox>
    </ion-item>

    <!--Ajouter une tâche-->

    <ion-item>
      <ion-input type="text"
                 [(ngModel)]="task.title"
                 (keypress)="saveTask($event.code)"
                 placeholder="Ajouter une tâche"></ion-input>
    </ion-item>

  </ion-list>
</ion-content>
